@import 'bootstrap/dist/css/bootstrap.css';

html, body {
  padding: 0;
  margin: 0;
  background-image: url("https://modernmidways.com/images/site/template/pageheader/midway.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #0c0c0c;
}

.organization-role {
  display: flex;
}

.organization-role * {
  margin: .1
  rem;
}


#role-card-description {
  position: relative;
    overflow-y:  scroll;
}
#equipment-dropdown {
  color: #c69c6a;
}

input[type=text] {
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 100%;
}

#role-card-style {
  width: 25rem;
  margin: 10px;
  max-height: 750px;
  background-color: #7367ca;
  color: #efe464;
}

#role-card-index {
  display: flex;
  flex-wrap: wrap;
}

#user-roles-cards {
  display: flex;
  flex-wrap: wrap;
}

#user-roles-cards-style {
  background-color: #7367ca;
  color: #efe464;
}

#intro-card {
  /* max-width: 1040px; */
  color: #0b0b0a;
  background-image: url("https://img.freepik.com/free-vector/colorful-watercolor-background_23-2148492944.jpg?w=1800&t=st=1709396651~exp=1709397251~hmac=6eab24603001c700a39b5adddcc448f3870ba09f9cc38d9a65d3d67547c93af2");
   background-color: #0d0c0c;
};

.view-role {
  display: flex;
  flex-direction: column;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.c-multi-select-dropdown{
    margin:30px auto;
    position:relative;
    width:300px;

    &:hover{
        .c-multi-select-dropdown__options{
            display:block;
        }
    }

    .c-multi-select-dropdown__selected{
        border:solid 1px #eee;
        font-size:14px;
        padding:10px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        background-color: #eee;

        > img {
            height:18px;
        }
    }

    .c-multi-select-dropdown__options{
        display:none;
        position: absolute;
        box-sizing: border-box;
        left:0;
        width:100%;
        list-style: none;
        padding-left:0px;
        /* border:solid 1px #eee; */
        padding:5px 0px;
        background-color: #eee;
    }

    .c-multi-select-dropdown__option{
        display:flex;
        align-items: center;
        padding:6px 10px;
        cursor:pointer;

        &:hover{
            background-color: #eee;
        }
        
        &-checkbox{
            margin-right:6px;
        }
    }
}
